*,
*::after,
*::before{
    box-sizing: border-box;
}

@font-face{
    font-family: 'balqis';
    src: url('../fonts/balqis.woff2')  format('woff2'),
    url('../fonts/balqis.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2')  format('woff2'),
    url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'RobotoCondensed-LightItalic';
    src: url('../fonts/RobotoCondensed-LightItalic.woff2')  format('woff2'),
    url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face{
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.woff2')  format('woff2'),
    url('../fonts/RobotoCondenRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
a{
    color: inherit;
    text-decoration: none;
}
body{
    color: #000;
    font-family: 'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-section{
    margin: 200px auto;
    max-width: 1920px;
}
.title{
    font-size: 96px;
    line-height: 28px;
    color: #E2AB3F;
    font-family: 'balqis';
    font-weight: 300;
    margin-bottom: 100px;
    
}
.title span{
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-LightItalic';
    color: #000000;
    display: block;
    margin-top: 30px;
}
.header{
    background-image: url('../images/header-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}
.menu__list-item{
    display: inline-block;
}
.menu__list-item + .menu__list-item{
    padding: 20px;
    padding-top: 0px;
}
.menu__list-link:hover{
    text-decoration: underline;
}
.header__phone{
    padding-left: 40px;
    position: relative;
}
.header__phone::before{
    content: "";
    position: absolute;
    background-image: url('../images/phone-icon.svg');
    width: 30px;
    height: 30px;
    left: 0;

}
.header__title{
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'balqis';
    font-weight: 300;
}
.header__title span{
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -66px;
    margin-right: 85px;
}
.fairy-tail__title span{
    margin-left: 185px;
}
.fairy-tail__slider{
    width: 50%;
}
.slick-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.fairy-tail__container,
.our-trip__container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fairy-tail__inner{
    position: relative;
}
.fairy-tail__body{
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.fairy-tail__body-title{
    font-family: 'RobotoCondensed-Regular';
}
.fairy-tail__text{
    padding: 10px 0;
}
.our-trip__slider{
    width: 50%;
    margin-left: auto;
}
.our-trip__inner{
    position: relative;
}
.our-trip__title span{
    margin-left: 240px;
}
.our-trip__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: start;
}
.our-trip__list{
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}
.our-trip__list li:first-child{
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular';
}
.our-trip__btn{
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Light';
    border: 1px solid #E2AB3F;
    padding: 11px 53px;
    transition: all .5s;
}
.our-trip__btn:hover{
    background-color: #E2AB3F;
}
.our-trip__content{
    width: 50%;
    padding-right: 55px;
}
.hotel__title span{
    margin-left: 120px;
}
.hotel__inner{
    display: flex;
}
.hotel__images{
    margin-right: 100px;
}
.hotel__text{
    margin-bottom: 20px;
}
.hotel__gallery{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a{
    margin-top: 50px;
}
.price__on__title,
.price__off__title{
    margin-bottom: 50px;
    line-height: 28px;
    font-size: 24px;
    font-family: 'RobotoCondensed-Regular';
}
.price__inner{
    display: flex;

}
.price__on{
    margin-right: 70px;
    width: 530px;
}
.price__list-item{
    margin-bottom: 20px;
}
.price{
    background-image: url('../images/price-bg.png');
    background-repeat: no-repeat;
    background-position: center right 6%;
}
.contacts__inner{
    display: flex;
    justify-content: space-between;
}
.contacts__date,
.contacts__price{
    font-family: 'balqis';
    font-size: 96px;
    line-height: 100px;
    color: #E2AB3F;
    font-weight: 300;
}
.contacts__date{
    margin-bottom: 20px;
}
.contacts__date span,
.contacts__price span{
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-LightItalic';
    color: #000000;
    display: block;
    margin-top: -10px;
    margin-left: 205px;
}
.contacts__price{
    margin-left: 120px;
}

.contacts__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contacts__form{
    max-width: 383px;
    margin: 0 auto;
}
.contacts__form-title{
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}
.contacts__form-input{
    border: 1px solid #E2AB3F;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    outline: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-family: 'RobotoCondensed-Light';
}
.contacts__form-input::placeholder{
    color:#000;
}
.contacts__form-btn{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px; 
    text-transform: uppercase ;
    border: 1px solid #E2AB3F;  
    background-color:transparent;
    padding: 11px 45px;
    font-family: 'RobotoCondensed-Light';
    cursor: pointer;
    transition: all .5s;
}
.contacts__form-btn:hover{
    background-color:#E2AB3F;
}
.footer{
    background-image: url('../images/footer-bg.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position:bottom center;
    padding-top: 96px;
    background-size: cover;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    font-size: 86px;
    line-height: 115px;
    font-family: 'balqis';

}
.footer__contacts{
    width: 356px;
    height: 527px;
    background-image:url('../images/footer-contact-bg.png');
    background-repeat: no-repeat;
    text-align: center;
}
.footer__contacts-title{
    font-size: 86px;
    line-height: 115px;
    font-family: 'balqis';
    color: #E2AB3F;
    margin-bottom: 50px;
    padding-top: 50px;
}
.footer__phone,
.footer__email{
    display: inline-block;
    padding-left: 40px;
    position: relative;
}
.footer__phone::before,
.footer__email::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
}
.footer__phone::before{
    background-image: url('../images/footer-phone-icon.svg');
}

.footer__email::before{
    background-image: url('../images/footer-email-icon.svg');
}
.footer__phone{
    margin-bottom: 20px;
}
.footer__social{
    margin-top: 38px;

}
.footer__social a{
    margin: 0 7px;
}














@media (max-width:1240px){
    .header__title{
        font-size: 180px;
        line-height: 220px;
        padding-top: 120px;
    }
    .header__title span{
        font-size: 50px;
        margin-top: -50px;
    }
    .footer__text{
        font-size: 75px;
    }
}
@media (max-width:991px){
    .page-section{
        margin: 100px 0;
    }
    .fairy-tail__container,
    .our-trip__container{
        position: static;
    }
    .fairy-tail__slider{
        width: 100%;
    }
    .fairy-tail__body{
        padding-left: 0;
        width: 100%;
    }
    .our-trip__body{
        justify-content: center;
        align-items:center;
    }
    .our-trip__slider{
        width: 100%;
    }
    .our-trip__content {
        display: flex;
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .hotel__inner {
        flex-wrap: wrap;
    }
    .hotel__images{
        width: 100%;
        margin-right: 0;
    }
    .our-trip__btn{
        margin-bottom: 30px;
    }
    .price__inner{
     flex-wrap: wrap;   
    }
    .contacts__inner{
        flex-wrap: wrap;
    }
    .contacts__content{
        width: 100%;
        margin-bottom: 30px;
    }
    .contacts__images{
        width: 100%;
    }

}
@media (max-width:940px){
.footer__inner{
    position: relative;
}
.footer__text{
    font-size: 55px;
}
}
@media (max-width:840px){
    .header__title{
        font-size: 120px;
        line-height: 150px;
        padding-top: 100px;
    }
    .header__title span{
        font-size: 30px;
        margin-top: -44px;
    }
    .header__top{
        font-size: 20px;
        line-height: 24px;
    }
    .header__phone::before{
        width: 25px;
        height: 25px;
        background-size: cover;
    }
    .our-trip__btn{
        margin-bottom: 30px;
    }
}
.our-trip__container{
    padding: 0;
} 
.title span{
    margin-top: 49px;
}
@media (max-width:765px){
    .footer__text{
        font-size: 40px;
    }
}
@media (max-width:665px){
    .footer__text{
        position: absolute;
        top: -100px;
        text-align: center;
        width: 100%;
    }
    .footer__contacts{
        width: 100%;
        background-position:center;
        
    }
}

@media (max-width:600px){
    .header__top{
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .header__title{
        font-size: 80px;
        line-height: 120px;
    }
    .header__title span{
        font-size: 22px;
        margin-top: -46px;
        margin-right: 15px;

    }
    .hotel__title span{
        margin-left: 75px;
    }
    .fairy-tail__item img{
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
    .page-section{
        margin: 50px 0;
    }
    .title{
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }
    .fairy-tail__title span{
        margin-left: 110px;
        margin-top: -22px;
    }
    .our-trip__slider img{
        height: 50vh;
        width: 100%;
    }
    .our-trip__title span {
        margin-left: 159px;
    }
    .title span{
        margin-top: -22px;
    }
    .footer__contacts{
        background-image: none;
        height: unset;
    }
    .footer__contacts-title{
        color: black;
    }
}
@media (max-width:585px){
    .hotel__gallery{
        justify-content: center;
    }
    .footer__email,
.footer__phone{
    color:rgb(255, 249, 249);
}
}


@media (max-width:470px){
    .contacts__date span,
    .contacts__price span{
        font-size: 20px;
        margin-left: 0;
    }
    .contacts__date,
    .contacts__price{
        font-size: 75px;
    }
}

@media (max-width:370px){
    
    .header__title{
        font-size: 60px;
        line-height: 100px;
    }
    .header__title span{
        font-size: 18px;
        margin-right: 0;
    }
    
    .title{
        font-size: 50px;
    }
    .title span{
        font-size: 20px;
    }
    .fairy-tail__title span{
        margin-left: 90px;
    }
    .our-trip__inner {
        
    }
    }


